src/main/resources/xml/students.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="students">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="student" maxOccurs="unbounded" minOccurs="1" >
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="name" type="xs:string" />
                            <xs:element name="surname" type="xs:string" />
                            <xs:element name="birthDate" type="xs:date" />
                            <xs:element name="phone_number" type="xs:int"/>
                            <xs:element name="course" type="xs:unsignedByte"/>
                            <xs:element name="email" type="xs:string"/>
                        </xs:sequence>
                        <xs:attribute name="id" type="xs:long" use="required" />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>